@{
    Layout = "~/Views/Shared/Sidebar/_VolunteerLayout.cshtml";
    ViewData["Title"] = "Rescue Tracking Tasks";
}

<h2>Rescue Tracking Tasks</h2>

<table class="table table-bordered table-striped">
    <thead class="table-info">
        <tr>
            <th>Task</th>
            <th>Location</th>
            <th>Progress</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Evacuation</td>
            <td>Zone C</td>
            <td>70%</td>
        </tr>
        <tr>
            <td>Relief Delivery</td>
            <td>Zone D</td>
            <td>40%</td>
        </tr>
    </tbody>
</table>
