@{
    Layout = "~/Views/Shared/Sidebar/_AdminLayout.cshtml";
    ViewData["Title"] = "All Users";
}

<h2>All Users</h2>
<table class="table table-bordered">
    <thead>
        <tr>
            <th>User ID</th>
            <th>Name</th>
            <th>Email</th>
            <th>Role</th>
        </tr>
    </thead>
    <tbody>
        <tr><td>1</td><td>John Doe</td><td>john@example.com</td><td>Volunteer</td></tr>
        <tr><td>2</td><td>Jane Smith</td><td>jane@example.com</td><td>Admin</td></tr>
    </tbody>
</table>
